body {
    font-family: "Press Start 2P", "cursive";
    text-align: center;
    color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    font-size: 1.8em;
    margin: 20px 0;
}

h5 {
    font-size: 0.8em;
    margin: 0px;
}